version: '3.9'
services:

  flask:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: flask
    command: gunicorn --bind 0.0.0.0:8000 app:app
    ports:
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      frontend:
        aliases:
          - flask-app

  nginx:
    build:
      context: ./web_interface
      dockerfile: frontend.Dockerfile
    container_name: nginx
    expose:
      - "80"
    ports:
      - "80:80"
    networks:
      - frontend
    depends_on:
      - flask


networks:
    frontend:
        driver: bridge

